<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Formulario de consulta de peticiones quejas y reclamos.</h1>

  </div>
</div>
<div class="container">
  <div class="card card-gray">
    <div class="card-header bg-primary text-white">Consulta de PQR</div>
    <div class="card-body">
      <form #pqrForm="ngForm" (ngSubmit)="postPqr()">
      
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <label for="inp_radi">N.Radicado</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <span><i class="fas fa-user-circle"></i></span>
                </div>
              </div>
              <input type="number" class="form-control" placeholder="Número de radicado" name="inp_radi" id="inp_radi" [(ngModel)]="pqr.inp_radi" required #inp_radi="ngModel">
            </div>
            <div [hidden]="inp_radi.valid || inp_radi.pristine" class="alert alert-danger">
              Número de radicado es requerido
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <label for="inp_pass">Contraseña</label>
            <div class="input-group text-center">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <span><i class="fas fa-user-circle"></i></span>
                </div>
              </div>
              <input type="text" class="form-control" placeholder="Constraseña" name="inp_pass" id="inp_pass" [(ngModel)]="pqr.inp_pass" required #inp_pass="ngModel">
            </div>
            <div [hidden]="inp_pass.valid || inp_pass.pristine" class="alert alert-danger">
              Constraseña requerida
            </div>

          </div>
        </div>
        <div class="row">

          <!-- Boton enviar -->
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-center pt-5">
            <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!pqrForm.form.valid || submitted ">Consultar</button>
          </div>
        </div>



  </form>
</div>
</div>

</div>
