<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Formulario de Radicación de Documentos.</h1>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="large">
</ngx-spinner>

<div class="container">
    <form #radicForm="ngForm" (ngSubmit)="PostRnRadic(radicForm)">
        <div class="card">
            <div class="card-header bg-primary text-white">Datos Básicos</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
                        <label for="con_cont">Grupo Radicación</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fas fa-align-justify"></i></span>
                                </div>
                            </div>
                            <input id="gru_cont" name="gru_cont" [(ngModel)]="radic.gru_cont" readonly required #gru_cont="ngModel" type="text" data-toggle="tooltip" data-placement="bottom" class="form-control" readonly>
                            <input id="gru_nomb" name="gru_nomb" [(ngModel)]="radic.gru_nomb" readonly #gru_nomb="ngModel" type="text" style="width: 65%;" data-toggle="tooltip" data-placement="bottom" readonly class="form-control">
                            <button type="button" class="btn btn-primary" (click)="lupaGrupoRadicacion()">
                                <span><i class="fas fa-search"></i></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
                        <label for="con_cont">Clasificación</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fas fa-chalkboard-teacher"></i></span>
                                </div>
                            </div>
                            <input id="cra_codi" name="cra_codi" [(ngModel)]="radic.cra_codi" readonly required #cra_codi="ngModel" type="text" data-toggle="tooltip" data-placement="bottom" class="form-control" readonly>
                            <input id="cra_nomb" name="cra_nomb" [(ngModel)]="radic.cra_nomb" readonly #cra_nomb="ngModel" type="text" style="width: 63%;" data-toggle="tooltip" data-placement="bottom" readonly class="form-control">
                            <button type="button" class="btn btn-primary" [disabled]="radic.gru_cont === undefined" (click)="LoadClasificacion()">
                                    <span><i class="fas fa-search"></i></span>
                            </button>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <label for="con_cont">Dependencia</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fas fa-user-times"></i></span>
                                </div>
                            </div>
                            <input id="ite_nomb" name="ite_nomb" value="{{ ite_depe }}" [(ngModel)]="radic.ite_depe" type="text" data-toggle="tooltip" data-placement="bottom" class="form-control" readonly>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12" *ngIf="SRN000001 === 'S'">
                        <label for="con_cont">Autoriza tratamiento de datos personales</label>
                        <div class="input-group mt-2">
                            <div class="custom-control custom-radio">
                                <input type="radio" checked class="custom-control-input" id="rad_tdat" name="grouptdat" value="S" [(ngModel)]="radic.rad_tdat" (change)="LoadTratamiento();">
                                <label class="custom-control-label" for="rad_tdat">Si</label>
                            </div>
                            <div class="custom-control custom-radio ml-3">
                                <input type="radio" class="custom-control-input" id="rad_tdad" name="grouptdat" value="N" [(ngModel)]="radic.rad_tdat">
                                <label class="custom-control-label" for="rad_tdad">No</label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <label for="con_cont">Observaciones</label>
                        <textarea type="text" class="form-control" id="rad_obse" name="rad_obse" [(ngModel)]="radic.rad_obse"></textarea>
                    </div>
                </div>
            </div>

            <div class="container mt-3 mb-3">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-basicos-tab" data-toggle="tab" href="#nav-basicos" role="tab" aria-controls="nav-basicos" aria-selected="true">Datos Empresa</a>
                        <a class="nav-item nav-link" id="nav-solicitud-tab" data-toggle="tab" href="#nav-solicitud" role="tab" aria-controls="nav-solicitud" aria-selected="false">Datos Solicitud</a>
                        <a class="nav-item nav-link" id="nav-contacto-tab" data-toggle="tab" href="#nav-contacto" role="tab" aria-controls="nav-contacto" aria-selected="false">Datos de Contacto</a>
                        <a class="nav-item nav-link" id="nav-nucleo-tab" data-toggle="tab" href="#nav-nucleo" role="tab" aria-controls="nav-nucleo" aria-selected="false">Núcleo Familiar</a>
                        <a class="nav-item nav-link" id="nav-ubicacion-tab" data-toggle="tab" href="#nav-ubicacion" role="tab" aria-controls="nav-ubicacion" aria-selected="false">Ubicación Geográfica</a>
                        <a *ngIf="radic.rad_tdat === 'S'" class="nav-item nav-link" id="nav-tratamiento-tab" data-toggle="tab" href="#nav-tratamiento" role="tab" aria-controls="nav-tratamiento" aria-selected="false">Tratamiento de Datos</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-basicos" role="tabpanel" aria-labelledby="nav-basicos-tab">
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
                                    <label for="con_cont">Tipo Aportante</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-bullseye"></i></span>
                                            </div>
                                        </div>
                                        <input type="text" data-toggle="tooltip" data-placement="bottom" class="form-control" id="tia_codi" name="tia_codi" [(ngModel)]="radic.tia_codi" required #tia_codi="ngModel" readonly>
                                        <input type="text" style="width: 65%;" data-toggle="tooltip" data-placement="bottom" id="tia_nomb" name="tia_nomb" [(ngModel)]="radic.tia_nomb" #tia_nomb="ngModel" readonly class="form-control">
                                        <button type="button" class="btn btn-primary" (click)="lupaTipoAportante()" *ngIf="cra_clar!=='T'">
                                            <span><i class="fas fa-search"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <label for="con_cont">Tipo Documento</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-address-card"></i></span>
                                            </div>
                                        </div>
                                        <input id="tip_coda" name="tip_coda" [(ngModel)]="radic.tip_coda" required #tip_coda="ngModel" readonly type="text" data-toggle="tooltip" data-placement="bottom" class="form-control">
                                        <input id="tip_noma" name="tip_noma" [(ngModel)]="radic.tip_noma" readonly type="text" style="width: 65%;" data-toggle="tooltip" data-placement="bottom" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <label for="con_cont">Número Documento</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-hashtag"></i></span>
                                            </div>
                                        </div>
                                        <input id="apo_coda" name="apo_coda" [(ngModel)]="radic.apo_coda" readonly required #apo_coda="ngModel" type="text" data-toggle="tooltip" data-placement="bottom" class="form-control">
                                        <button type="button" class="btn btn-primary" (click)="lupaDocumento()" *ngIf="cra_clar !== 'T'">
                                          <span><i class="fas fa-search"></i></span>
                                      </button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <label for="rad_nomr">Razón social</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-user-circle"></i></span>
                                            </div>
                                        </div>
                                        <input id="apo_razs" name="apo_razs" [(ngModel)]="radic.apo_razs" readonly required #apo_razs="ngModel" type="text" class="form-control" placeholder="Razón social">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <label for="rad_nomr">Teléfono</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-phone"></i></span>
                                            </div>
                                        </div>
                                        <input id="dsu_tele" name="dsu_tele" [(ngModel)]="radic.dsu_tele" [disabled]="cra_clar === 'T'" required #dsu_tele="ngModel" type="text" class="form-control" placeholder="Teléfono">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-solicitud" role="tabpanel" aria-labelledby="nav-solicitud-tab">
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <label for="con_cont">Tipo de Documento</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-id-card"></i></span>
                                            </div>
                                        </div>
                                        <input id="tip_codi" name="tip_codi" [(ngModel)]="radic.tip_codi" required #tip_codi="ngModel" readonly type="text" data-toggle="tooltip" data-placement="bottom" class="form-control">
                                        <input id="tip_nomb" name="tip_nomb" [(ngModel)]="radic.tip_nomb" #tip_nomb="ngModel" readonly type="text" style="width: 65%;" data-toggle="tooltip" data-placement="bottom" class="form-control">
                                        <button type="button" class="btn btn-primary" (click)="lupaTipoDocumento()" *ngIf="cra_prim === 'S'">
                                            <span><i class="fas fa-search"></i></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <label for="con_cont">Número Documento</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-hashtag"></i></span>
                                            </div>
                                        </div>
                                        <input id="afi_docu" name="afi_docu" [(ngModel)]="radic.afi_docu" required #afi_docu="ngModel" type="text" data-toggle="tooltip" data-placement="bottom" class="form-control" placeholder="Número Documento">
                                        <button type="button" class="btn btn-primary" (click)="lupaDocumentoTrabajador()" *ngIf="cra_prim === 'N'">
                                                <span><i class="fas fa-search"></i></span>
                                            </button>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <label for="rad_nomr">Primer Nombre</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-user-circle"></i></span>
                                            </div>
                                        </div>
                                        <input id="afi_nom1" name="afi_nom1" [(ngModel)]="radic.afi_nom1" [disabled]="cra_prim === 'N'" [required]="cra_prim === 'S'" #afi_nom1="ngModel" type="text" class="form-control" placeholder="Primer Nombre">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <label for="rad_nomr">Segundo Nombre</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-user-circle"></i></span>
                                            </div>
                                        </div>
                                        <input id="afi_nom2" name="afi_nom2" [(ngModel)]="radic.afi_nom2" [disabled]="cra_prim === 'N'" type="text" class="form-control" placeholder="Segundo Nombre">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <label for="rad_nomr">Primer Apellido</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-user-circle"></i></span>
                                            </div>
                                        </div>
                                        <input id="afi_ape1" name="afi_ape1" [(ngModel)]="radic.afi_ape1" [disabled]="cra_prim === 'N'" [required]="cra_prim === 'S'" #afi_ape1="ngModel" type="text" class="form-control" placeholder="Primer Apellido">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <label for="rad_nomr">Segundo Apellido</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-user-circle"></i></span>
                                            </div>
                                        </div>
                                        <input id="afi_ape2" name="afi_ape2" [(ngModel)]="radic.afi_ape2" [disabled]="cra_prim === 'N'" type="text" class="form-control" placeholder="Segundo Apellido">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <label for="afi_fecn">Fecha Nacimiento</label>
                                    <div class="input-group">
                                        <mat-datepicker-toggle [for]="afi_fecn"></mat-datepicker-toggle>
                                        <mat-datepicker #afi_fecn touchUi></mat-datepicker>
                                        <input matInput placeholder="  Fecha de Nacimiento" [disabled]="cra_prim === 'N'" [required]="cra_prim === 'S'" readonly [matDatepicker]="afi_fecn" type="text" class="form-control" name="afi_fecn" id="afi_fecn" [(ngModel)]="radic.afi_fecn">

                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <label for="rad_nomr">Teléfono</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-phone-square"></i></span>
                                            </div>
                                        </div>
                                        <input id="afi_tele" name="afi_tele" [(ngModel)]="radic.afi_tele" [disabled]="cra_prim === 'N'" [required]="cra_prim === 'S'" type="text" class="form-control" placeholder="Telefono">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contacto" role="tabpanel" aria-labelledby="nav-contacto-tab">
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <label for="rad_nomr">Dirección</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-hashtag"></i></span>
                                            </div>
                                        </div>
                                        <input id="rad_dire" name="rad_dire" [(ngModel)]="radic.rad_dire" type="text" class="form-control" placeholder="Dirección">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <label for="rad_nomr">Correo Electrónico</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-mail-bulk"></i></span>
                                            </div>
                                        </div>
                                        <input id="rad_emai" name="rad_emai" [(ngModel)]="radic.rad_emai" type="text" class="form-control" placeholder="Correo Electrónico">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-nucleo" role="tabpanel" aria-labelledby="nav-nucleo-tab">
                        <div class="container mt-3">
                            <div class="row">

                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <label for="rad_nomr">Primer Nombre</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-users"></i></span>
                                            </div>
                                        </div>
                                        <input id="dpe_nom1" name="dpe_nom1" [(ngModel)]="dperc.dpe_nom1" type="text" class="form-control" placeholder="Primer Nombre" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <label for="rad_nomr">Segundo Nombre</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-users"></i></span>
                                            </div>
                                        </div>
                                        <input id="dpe_nom2" name="dpe_nom2" [(ngModel)]="dperc.dpe_nom2" type="text" class="form-control" placeholder="Segundo Nombre" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <label for="rad_nomr">Primer Apellido</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-users"></i></span>
                                            </div>
                                        </div>
                                        <input id="dpe_ape1" name="dpe_ape1" [(ngModel)]="dperc.dpe_ape1" type="text" class="form-control" placeholder="Primer Apellido" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <label for="rad_nomr">Segundo Apellido</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-users"></i></span>
                                            </div>
                                        </div>
                                        <input id="dpe_ape2" name="dpe_ape2" [(ngModel)]="dperc.dpe_ape2" type="text" class="form-control" placeholder="Segundo Apellido" autocomplete="off">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <label for="rad_nomr">Documento</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-users"></i></span>
                                            </div>
                                        </div>
                                        <input id="dpe_docu" name="dpe_docu" [(ngModel)]="dperc.dpe_docu" type="text" class="form-control" placeholder="Documento" autocomplete="off">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                    <label for="rad_nomr">Parentesco</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-users"></i></span>
                                            </div>
                                        </div>
                                        <select class="form-control" id="mpa_nomb" name="mpa_nomb" [(ngModel)]="selectedPare">
                                            <option *ngFor="let mpare of sumpare" [ngValue]="mpare">{{mpare.mpa_nomb | titlecase}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center pt-4 pb-3">
                                    <button [disabled]="dperc.dpe_docu == '' || dperc.dpe_nom1 == '' || dperc.dpe_ape1 == '' || selectedPare.mpa_nomb == undefined" type="button" class="btn btn-success btn-lg btn-block" (click)="addGrupoFamiliar()">Agregar</button>
                                </div>
                            </div>

                            <div class="table-responsive mt-3" *ngIf="radic.rndperc?.length">
                                <table class="table table-hover table-striped table-bordered">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Documento</th>
                                            <th scope="col">Primer Nombre</th>
                                            <th scope="col">Segundo Nombre</th>
                                            <th scope="col">Primer Apellido</th>
                                            <th scope="col">Segundo Apellido</th>
                                            <th scope="col">Parentesco</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let rnd of radic.rndperc">
                                            <td>{{rnd.dpe_docu}}</td>
                                            <td>{{rnd.dpe_nom1}}</td>
                                            <td>{{rnd.dpe_nom2}}</td>
                                            <td>{{rnd.dpe_ape1}}</td>
                                            <td>{{rnd.dpe_ape2}}</td>
                                            <td>{{rnd.mpa_nomb}}</td>
                                            <td><button type="button" class="btn btn-primary btn-sm text-center" (click)="delGrupoFamiliar()">Eliminar</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-ubicacion" role="tabpanel" aria-labelledby="nav-ubicacion-tab">
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-xs-6 col-sm-12">
                                    <label for="rad_pais">País</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-globe-americas"></i></span>
                                            </div>
                                        </div>
                                        <select [disabled]="cra_prim !== 'S'" class="form-control" id="rad_pais" [value]="" name="rad_pais" [(ngModel)]="radic.rad_pais" (change)="filtrarRegiones('',radic.rad_pais)" required="0" #rad_pais="ngModel">                                            
                                            <option *ngFor="let pais of gnpaise" [value]="pais.pai_codi">{{pais.pai_nomb | titlecase}}</option>
                                            <option value="">Seleccione</option>
                                          </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-xs-6 col-sm-12">
                                    <label for="inp_regi">Región</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-flag"></i></span>
                                            </div>
                                        </div>
                                        <select [disabled]="gnregio==undefined || cra_prim !== 'S'" [value]="" class="form-control" id="rad_regi" name="rad_regi" [(ngModel)]="radic.rad_regi" (change)="filtrarDeptos('',radic.rad_pais,radic.rad_regi)" required #rad_regi="ngModel">
                                            <option *ngFor="let region of gnregio" [value]="region.reg_codi">{{region.reg_nomb | titlecase}}</option>
                                            <option value="">Seleccione</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-xs-6 col-sm-12">
                                    <label for="inp_depa">Departamento</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="far fa-flag"></i></span>
                                            </div>
                                        </div>
                                        <select [disabled]="gndepar==undefined || cra_prim !== 'S'" [value]="" class="form-control" id="rad_depa" name="rad_depa" [(ngModel)]="radic.rad_depa" (change)="filtrarMunic('',radic.rad_pais,radic.rad_regi,radic.rad_depa)" required #rad_depa="ngModel">                                                
                                                <option *ngFor="let depto of gndepar" [value]="depto.dep_codi">{{depto.dep_nomb | titlecase}}</option>
                                                <option value="">Seleccione</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-xs-6 col-sm-12">
                                    <label for="inp_muni">Municipio</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-city"></i></span>
                                            </div>
                                        </div>
                                        <select [disabled]="gnmunic==undefined || cra_prim !== 'S'" [value]="" class="form-control" id="rad_muni" name="rad_muni" [(ngModel)]="radic.rad_muni" (change)="filtrarLocal('',radic.rad_pais,radic.rad_regi,radic.rad_depa,radic.rad_muni)" required #rad_muni="ngModel">                                       
                                            <option *ngFor="let munic of gnmunic" [value]="munic.mun_codi">{{munic.mun_nomb | titlecase}}</option>
                                            <option value="">Seleccione</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-xs-6 col-sm-12">
                                    <label for="inp_loca">Localidad</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-map-pin"></i></span>
                                            </div>
                                        </div>
                                        <select [disabled]="gnlocal==undefined || cra_prim !== 'S'" [value]="" class="form-control" id="rad_loca" name="rad_loca" [(ngModel)]="radic.rad_loca" (change)="filtrarBarri('',radic.rad_pais,radic.rad_regi,radic.rad_depa,radic.rad_muni,radic.rad_loca)"
                                            required #rad_loca="ngModel">
                                                <option *ngFor="let local of gnlocal" [value]="local.loc_codi">{{local.loc_nomb | titlecase}}</option>
                                                <option value="">Seleccione</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-xs-6 col-sm-12">
                                    <label for="inp_loca">Barrio</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <span><i class="fas fa-map-signs"></i></span>
                                            </div>
                                        </div>
                                        <select [disabled]="gnbarri==undefined || cra_prim !== 'S'" [value]="" class="form-control" id="rad_barr" name="rad_barr" [(ngModel)]="radic.rad_barr" required #rad_loca="ngModel">                                                
                                                <option *ngFor="let barri of gnbarri" [value]="barri.bar_codi">{{barri.bar_nomb | titlecase}}</option>
                                                <option value="">Seleccione</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="radic.rad_tdat === 'S'" class="tab-pane fade" id="nav-tratamiento" role="tabpanel" aria-labelledby="nav-tratamiento-tab">
                        <div class="container mt-3">
                            <div class="row">

                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mt-2">
                                    <div class="table table-hover table-striped table-bordered mt-2">
                                        <table class="table table-hover table-striped table-bordered mt-4">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">Código</th>
                                                    <th scope="col">Descripción</th>
                                                    <th scope="col" class="text-center">Aceptación</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let tdat of radic.radtdat" style="font-size: 1rem">
                                                    <td>
                                                        <span>
                                                            {{tdat.ite_codi}}
                                                    </span>
                                                    </td>
                                                    <td>{{tdat.ite_nomb}}</td>
                                                    <td class="text-center">
                                                        <span class="switch mt-2">
                                                                <input type="checkbox" name="chk" [(checked)]="tdat.ite_chkd"  (change)= "tdat.ite_chkd=!tdat.ite_chkd" class="switch switch-sm" id="{{tdat.ite_cont}}" >
                                                                <label for="{{tdat.ite_cont}}"></label>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-center pt-4 pb-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!radicForm.form.valid">Guardar</button>
            </div>
        </div>
    </form>
</div>

<app-table-search-generic Title="Tipo Aportante" [displayedColumns]="['TIA_CODI', 'TIA_NOMB']" [showColumns]="['Código', 'Nombre']" (rowCLick)="setAportant($event)" btnModalQb="btnAportant" ModalQb="modalAportant" #modalAportant></app-table-search-generic>
<app-table-search-generic Title="Tipo Documento" [displayedColumns]="['TIP_CODI', 'TIP_NOMB']" [showColumns]="['Código', 'Nombre']" (rowCLick)="setTipDocto($event)" btnModalQb="btnTipDocto" ModalQb="modalTipDocto" #modalTipDocto></app-table-search-generic>
<app-table-search-generic Title="Número de Documento" [displayedColumns]="['TIA_NOMB', 'TIP_NOMB', 'APO_CODA' , 'APO_RAZS']" [showColumns]="['Tipo Aportante', 'Tipo Documento', 'Documento', 'Razón Social']" (rowCLick)="setTipDoctoEmpre($event)" btnModalQb="btnDocument"
    ModalQb="modalDocument" #modalDocument></app-table-search-generic>
<app-table-search-generic Title="Grupo de Radicación" [displayedColumns]="['GRU_CODI', 'GRU_NOMB']" [showColumns]="['Código', 'Nombre']" (rowCLick)="setGruRadic($event)" btnModalQb="btnGruRadic" ModalQb="modalGruRadic" #modalGruRadic></app-table-search-generic>
<app-table-search-generic Title="Clasificación" [displayedColumns]="['CRA_CODI', 'CRA_NOMB']" [showColumns]="['Código', 'Nombre']" (rowCLick)="setClasificacion($event)" btnModalQb="btnClasific" ModalQb="modalClasific" #modalClasific></app-table-search-generic>

<app-table-search-generic Title="Número de Documento" [displayedColumns]="['TIP_NOMB', 'AFI_DOCU', 'AFI_NOM1' , 'AFI_NOM2', 'AFI_APE1', 'AFI_APE2', 'APO_CODA' , 'APO_RAZS']" [showColumns]="['Tipo Documento', 'Documento', 'Primer Nombre', 'Segundo Nombre', 'Primer Apellido', 'Segundo Apellido','Aportante', 'Razon Social']"
    (rowCLick)="setDocumento($event)" btnModalQb="btnDocumento" ModalQb="modalDocumento" #modalDocumento></app-table-search-generic>

<app-alert [message]="msg"></app-alert>