<ngx-spinner bdColor="rgba(51,51,51,0.3)" size="large">
    <!-- <p text-center style="font-size: 15px; color: gray">{{loading}}</p> -->
</ngx-spinner>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-1 col-sm-1">
            <img src="data:image/jpeg;base64,{{logo}}" class="img-fluid" alt="Responsive image">
        </div>
    </div>

    <div class="card card-gray">
        <div class="card-header bg-primary text-white">Generación de Autoliquidación</div>
        <div class="card-body">
            <form #xbauliq="ngForm">
                <div class="row">
                        <div class="col-md-12">
                    <div class="alert alert small" role="alert">
                       <b>*Mediante esta opción podrá generar la autoliquidación correspondiente a las cuentas por pagar
                        a la SuperIntendencia de Vigilancia y Seguridad Privada, para cada uno de los conceptos
                        pendientes y por cada una de las vigencias.Para ello, debe pulsar
                        sobre el botón "CONSULTAR Y/O LIQUIDAR". <br>
                        * Las cuentas e intereses se presentan con corte a la
                        fecha en la que se realiza la consulta. <br>
                        * Solo se presentan las cuentas que tienen saldos
                        pendientes de pago.</b>
                    </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <div class="alert alert small">
                        <p> 
                            <b>Si tiene informes financieros por reportar, esta autoliquidación no desplegará información
                            asociada con ello.
                            <br>
                            Verifique si ha presentado toda la información financiera que le ha sido requerida. En caso
                            de tener reportes pendientes, por favor repórtelos.
                            <br>
                            Los valores indicados solamente aplican para la fecha de generación de la
                            autoliquidación: {{par_fech | date:'dd/MM/yyyy'}}. Si no realiza el pago en esta fecha por
                            favor genere nuevamente la autoliquidación</b>
                        </p>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-xs-12 col-sm-12">
                        <label for="pro_codi">Nit</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span> <span><i class="fas fa-id-card"></i></span></span>
                                </div>
                            </div>
                            <input type="text" [(ngModel)]="client" name="cli_coda" readonly=true class="form-control"
                                placeholder="Nit">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-xs-12 col-sm-12">
                        <label for="pro_codi">Nombre Entidad</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span> <span><i class="fas fa-id-card"></i></span></span>
                                </div>
                            </div>
                            <input type="text" name="ter_noco" readonly=true class="form-control" [(ngModel)]="ter_noco"
                                placeholder="Nombre de entidad">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-xs-12 col-sm-12">
                        <label for="pro_codi">Fecha de pago</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fas fa-calendar-alt"></i></span>
                                </div>
                            </div>
                            <input matInput placeholder="Fecha de pago" [min]="today" [matDatepicker]="fec_pago"
                                type="text" class="form-control" name="fec_pago" id="fec_pago" [(ngModel)]="par_fech"
                                required #fec_pago="ngModel" readonly>
                            <mat-datepicker-toggle [for]="fec_pago"></mat-datepicker-toggle>
                            <mat-datepicker disabled="false" #fec_pago touchUi></mat-datepicker>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-xs-12 col-sm-12">
                        <label for="mun_codi">Servicio</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fas fa-city"></i></span>
                                </div>
                            </div>
                            <select class="form-control" id="ite_ctse" name="ite_ctse" [(ngModel)]="service" required
                                #ite_ctsee="ngModel">
                                <option *ngFor="let item of faddina" [ngValue]="item">{{item.ite_nose}}
                                </option>
                               
                            </select>
                        </div>
                        <div [hidden]="ite_ctsee.valid || ite_ctsee.pristine" class="alert alert-danger">
                            Tipo de servicio requerido
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-xs-12 col-sm-12">
                        <br>
                        <button [disabled]="loading || !xbauliq.form.valid" type="button" class="btn btn-success btn-block"
                            (click)="GetAutliq()">
                            <i [class]="!loading?'fa fa-search':'fa fa-cog fa-spin'">
                            </i> {{ loading?'Consultando...':'Consultar y/o Liquidar' }}
                        </button>
                    </div>
                    <div class="col-lg-1 col-md-4 col-xs-12 col-sm-12">
                        <br>
                        <button type="button" class="btn btn-danger" (click)="clean()">
                            <i class="fa fa-trash">
                            </i> Limpiar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card card-gray" *ngIf="cacxcob.length>0">
        <div class="card-header bg-primary text-white">Autoliquidación</div>
        <div class="card-body">

            <div class="row">
                <table class="table table-striped table-hover table-bordered">
                    <thead class="thead-light table-info text-center">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tipo Servicio</th>
                            <th scope="col">Vigencia</th>
                            <th scope="col">Concepto</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Base Gravable</th>
                            <th scope="col">Tarifa</th>
                            <th scope="col">Valor Inicial</th>
                            <th scope="col">Saldo</th>
                            <th scope="col">Intereses anteriores</th>
                            <th scope="col">Intereses Mora</th>
                            <th scope="col">Total a Pagar</th>
                            <th scope="col">Error Consultando</th>
                            <th scope="col">Liquidar</th>
                            <th scope="col">Imprimir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr [class]="item.error==null?'table-success':''"
                            *ngFor="let item of cacxcob | paginate: { itemsPerPage: 10, currentPage: p };let i = index">
                            <td scope="row">
                                {{ i +1}}
                            </td>
                            <td>
                                {{ item.cts_nomb  }}
                            </td>
                            <td>
                                {{ item.rcx_vige }}
                            </td>
                            <td>
                                {{ item.top_nomb | titlecase }}
                            </td>
                            <td>
                                {{ item.cxc_desc }}
                            </td>
                            <td>
                                {{ item.cxc_bgrav   | currency:'COP' }}
                            </td>
                            <td>
                               % {{   item.dpa_tari  }}
                            </td>
                            <td>
                                {{ item.cxc_tota | currency:'COP' }}
                            </td>
                            <td>
                                {{ item.cxc_sald  | currency:'COP'}}
                            </td>
                            <td>
                                {{ item.cxc_inan | currency:'COP' }}
                            </td>
                            <td>
                                {{ item.cxc_inmo | currency:'COP' }}
                            </td>
                            <td>
                                {{ item.cxc_sald + item.cxc_inmo + item.cxc_inan | currency:'COP' }}
                            </td>
                            <td class="table-td-error">
                                {{item.error}}
                            </td>
                            <td>
                                <span class="switch">
                                    <input [disabled]="item.liq_lock" type="checkbox"
                                        [name]="'chkLiquida' + i.toString()" [(ngModel)]="item.liq_apro" class="switch"
                                        [id]="'switch-id' + i.toString()">
                                    <label [for]="'switch-id' + i.toString()"></label>
                                </span>
                            </td>
                            <td>
                                <button [disabled]="!item.print || item.printing"  (click)="BuildPrint(item)"
                                data-toggle="tooltip" data-placement="top" title="Imprimir autoliquidación"
                                class="btn btn-success btn-lg">
                                <i [class]="!item.printing?'fa fa-print':'fa fa-cog fa-spin'">
                                </i>  

                                
                            </button>
                            </td>
                        </tr>

                    </tbody>
                    <!-- <pagination-controls  id="some_id"
                        (pageChange)="pageChanged(p =$event)"
                        maxSize="10"
                        directionLinks="true"
                        autoHide="true"
                        responsive="true"
                        previousLabel="Anterior"
                        nextLabel="Siguiente"
                        screenReaderPaginationLabel="Paginación"
                        screenReaderPageLabel="page"
                        screenReaderCurrentLabel="Página actual">
  </pagination-controls> -->
                </table>

                <pagination-controls (pageChange)="p = $event" maxSize="10" autoHide="true" previousLabel="Anterior"
                    nextLabel="Siguiente">

                </pagination-controls>


            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-4 text-right">
                    <table class="table table-striped table-hover table-bordered">
                        <tbody class="thead-light table-primary text-center">
                            <tr>
                                <th scol="col">
                                    Total Contribución e intereses
                                </th>
                                <td>
                                    {{ GetTotalContribucion() | currency:'COP'}}
                                </td>
                            </tr>
                            <tr>
                                <th scol="col">
                                    Total multas y sanciones
                                </th>
                                <td>
                                    {{ GetTotalMultas() | currency:'COP'}}
                                </td>
                            </tr>

                            <tr>
                                <th scol="col">
                                    Total a pagar
                                </th>
                                <td>
                                    {{ GetTotalContribucion()  +  GetTotalMultas() |currency:'COP'}}
                                </td>
                            </tr>



                        </tbody>

                    </table>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-6 col-lg-1">
                    <button [disabled]="CuentasXaprobar() || aprobbing || approbed" type="button" (click)="SetXbAutliq()"
                        data-toggle="tooltip" data-placement="top" title="Tooltip on top"
                        class="btn btn-success btn-lg">
                        <i [class]="!aprobbing?'fa fa-check':'fa fa-cog fa-spin'">
                        </i> {{!aprobbing && !approbed?'Aprobar':approbed?'Aprobado':'Aprobando...'}}
                    </button>
                </div>


            </div>






        </div>

    </div>


</div>

<app-gnempre title="Seleccione empresa" (accept)="_EmpreModal.dismiss();GetSettings();">
    <form>
        <div class="form-group">
            <label for="emp_codi" class="col-form-label"></label>
            <select class="form-control" id="usu_codi" name="usu_codi" [(ngModel)]="emp_codi" required
                #usu_codi="ngModel">
                <option value="0">Seleccione</option>
                <option *ngFor="let companie of companies" [value]="companie.emp_codi">{{companie.emp_nomb | titlecase}}
                </option>
            </select>
        </div>
    </form>
</app-gnempre>

<app-alert-message [message]="msg"></app-alert-message>

