<div class="container">
  <div class="card card-gray">
   <div class="card-header bg-primary text-white">Parámetros de búsqueda</div>
   <div class="card-body">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-xs-12 col-sm-12">
        <label for="ter_coda">Identificación</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
                <span><i class="fas fa-user-circle"></i></span>
            </div>
          </div>
            <input type="text" class="form-control" placeholder="Identificación" name="ter_coda" id="ter_coda" [(ngModel)]="par_busq.ter_coda" required #ter_coda="ngModel">
       </div>
       <div [hidden]="ter_coda.valid || ter_coda.pristine" class="alert alert-danger">
         Identificación es requerida
       </div>
      
    </div>
  </div>
   </div>
   </div>
</div>
