<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Mis productos y servicios</h1>
  </div>
</div>
<div class="container">
  <div class="card">
    <div class="card-header bg-primary text-white">Parámetros de búsqueda</div>
    <div class="card-body">
      <form #socoxcnForm="ngForm"  (ngSubmit)="consultarcartera()">
        <ngx-spinner  bdColor="rgba(51,51,51,0.3)" size="large" >
        <!-- <p text-center style="font-size: 15px; color: gray">{{loading}}</p> -->
        </ngx-spinner>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
            <label for="ter_coda">Identificación</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <span><i class="fas fa-id-card-alt"></i></span>
                </div>
              </div>
              <input  type="text" class="form-control" placeholder="Identificación" name="ter_coda" id="ter_coda" [(ngModel)]="par_busq.ter_coda" required #ter_coda="ngModel" readonly>
            </div>
            <div [hidden]="ter_coda.valid || ter_coda.pristine" class="alert alert-danger">
              Identificación es requerida
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
            <label for="ter_nomb">Nombres</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <span><i class="fas fa-user-circle"></i></span>
                </div>
              </div>
              <input type="text"  class="form-control" placeholder="Nombre" name="ter_noco" id="ter_noco" [(ngModel)]="par_busq.ter_noco" required #ter_noco="ngModel" readonly>
            </div>
            <div [hidden]="ter_noco.valid || ter_noco.pristine" class="alert alert-danger">
              Nombre es requerido
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
            <label for="fec_fini">Fecha de vigencia</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <span><i class="fas fa-calendar-alt"></i></span>
                </div>
              </div>
              <input matInput placeholder="Fecha de vigencia" [matDatepicker]="fec_ffinP" type="text" class="form-control" name="fec_ffin" id="fec_ffin" [(ngModel)]="par_busq.fec_ffin" required #fec_ffin="ngModel" readonly>
              <mat-datepicker-toggle [for]="fec_ffinP"></mat-datepicker-toggle>
              <mat-datepicker disabled="false" #fec_ffinP touchUi></mat-datepicker>
            </div>
            <div [hidden]="fec_ffin.valid || fec_ffin.pristine" class="alert alert-danger">
              Fecha de vigencia es requerida
            </div>
          </div>
          
          <div class="col-md-12 text-center pt-3">
            <button type="submit" [disabled]="!socoxcnForm.form.valid" class="btn btn-success btn-block">Consultar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card" *ngIf="submitted">
    <div class="card-header bg-primary text-white">Información</div>
    <div class="card-body">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#cuentasxcobrar">Cartera pendiente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#liquidacion">liquidación</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active p-2" id="cuentasxcobrar" role="tabpanel" aria-labelledby="cuentasxcobrar-tab">
          <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">TIPO PRODUCTO</th>
                  <th scope="col">VALOR TOTAL</th>
                  <th scope="col">SALDO PENDIENTE</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cuenta of cuentasxcobrar;let i=index">
                  <th scope="row">
                   {{i+1}}
                  </th>
                  <td>{{cuenta.tip_nomb}}</td>
                  <td>{{cuenta.cxc_tota | currency}}</td>
                  <td>{{cuenta.cxc_sald | currency }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="form-group">
           <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
             <button type="button" class="btn btn-success btn-sm" (click)="pagar()">
               <span>   <span><i class="fas fa-id-card-alt"></i></span></span> &nbsp; Pagar
             </button>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-alert [message]="message">
</app-alert>